In [1]:
import pandas as pd
import numpy as np

In [2]:
# Integer division
5 // 5

1

In [5]:
# Float division
5.2 / 5

1.04

In [7]:
# can add strings together
'a' + 'B'

'aB'

In [23]:
int(5.8)

5

In [24]:
str(5)

'5'

In [26]:
float(5.3432)

5.3432

In [33]:
#################################
####### IF STATEMENTS ###########

chance_of_rain = 0.51

if chance_of_rain > 0.50:
    print("wear a raincoat")

wear a raincoat

In [31]:
chance_of_rain = 0.4

if chance_of_rain > 0.5:        # if <expression>:
     print("wear a raincoat")   # <indented line of code>
else:
    print("wear a cardigan")     # the else statement

wear a cardigan

In [39]:
grade = 89
if grade >= 90:
    print('Youre an A student')
elif grade >= 80:
    print('Youre a pretty good student')
elif grade >= 70:
    print('You need some help bud')
else:
    print('You failed, sorry')

Youre a pretty good student

In [43]:
##################
## FOR LOOPS #####

# for loops are used when you want a process to repeat a certain number of fixed times

total = 0     # to start, the total is 0
for num in [0,1,2,3,4,5]:
    total += num            # this means total = total + num

print(total)

15

In [46]:
# in order to see the entire sum of your start plus all numbers, print(total) goes outside
total = 234000
for num in [-7350,+3400,+3400,+5192,-7350]:
    total += num
print(total)

231292

In [ ]:
# to see the running sum of your start plus all numbers, indent your print(total) by one
total = 234000
for num in [-7350,+3400,+3400,+5192,-7350]:
    total += num
    print(total)

In [49]:
primes = [2, 3, 5]          # Line 1

for prime_number in primes: # Line 2
    print(prime_number)     # Line 3, goes through prime 2, prime 3, prime 5

print('Done!')              # Line 4, then prints done because the first indent is complete

2
3
5
Done!

In [64]:
# an easier for loop can use the range() function

total = 0 
for number in np.arange(1,6):
    total += number
    print(total)

1
3
6
10
15

In [60]:
np.arange(5,15,2)

array([ 5,  7,  9, 11, 13])

In [78]:
################
## while loop ##

print('Type "yes" to continue.')                        # Line 1

while input('Do you want to quit the loop?') != 'yes':  # Line 2: While the user does not enter 'yes', repeat.
    print('Please type "yes" so we can exit this loop.')  # Line 3

print('Thank you for typing "yes."')                    # Line 4

Type "yes" to continue.
Do you want to quit the loop?no
Please type "yes" so we can exit this loop.
Do you want to quit the loop?happy
Please type "yes" so we can exit this loop.
Do you want to quit the loop?yes
Thank you for typing "yes."

In [76]:
food = input('what food is being added? ')

what food is being added? grapes

In [77]:
food

'grapes'

In [2]:
#print('Type "yes" to continue.')                        # Line 1

while input('What is Kaylees favorite animal?') != 'bunny':  # Line 2: While the user does not enter 'yes', repeat.
    print('Incorrect, knucklehead. Please try again.')  # Line 3

print('Rabbit! Yes. Good job')                    # Line 4

What is Kaylees favorite animal?bunny
Rabbit! Yes. Good job

In [92]:
counter = 0 

while counter < 10:
    print('count is currently',counter)
    counter += 1
    
print("We're out of the lopp. The value of the counter is now", counter)

count is currently 0
count is currently 1
count is currently 2
count is currently 3
count is currently 4
count is currently 5
count is currently 6
count is currently 7
count is currently 8
count is currently 9
We're out of the lopp. The value of the counter is now 10

In [94]:
x = 1

while x < 10:
    x = x * 2
    print('The loop is currently', x)

print('The loop is no longer less than 10, its', x)

The loop is currently 2
The loop is currently 4
The loop is currently 8
The loop is currently 16
The loop is no longer less than 10, its 16

In [21]:
###################
## making lists ##
##################

animal_types = ['bird','giraffe','whale']

In [22]:
len(animal_types)

3

In [23]:
animal_types[0] = 'cat'

In [24]:
animal_types

['cat', 'giraffe', 'whale']

In [25]:
animal_types.append('turkey')

In [26]:
animal_types

['cat', 'giraffe', 'whale', 'turkey']

In [28]:
animal_types.pop()

'turkey'

In [30]:
animal_types.pop()[2]

'a'

In [31]:
animal_types

['cat', 'giraffe']

In [32]:
#######################################
## tuples, lists that aren't mutable ##
#######################################

days_of_week = ('Monday','Tuesday','Wednesday','Thursday','Friday')
# tuples are good for lists that won't change
# days of the week
# years
# configuration settings of an application
# they're also memory efficient

In [33]:
days_of_week

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [37]:
##############
### sets #####
# collection of unordered, unique elements
# order doesn't matter
# saves A LOT of memory, program runs much faster
# must ensure no duplicates

my_travels = {'India','Zambia','Ghana'}
your_travels = {'Nicaragua','England','Italy'}

In [38]:
my_travels

{'Ghana', 'India', 'Zambia'}

In [39]:
# to create an empty set, using set()
# such untasty_fruit = set()

In [40]:
##################
## dictionaries ##

book_authors = {'Moby Dick':'Melville','Harry Potter':'JK Rowling'}

In [42]:
book_authors['Enders Game'] = 'Orsen Scott Card'

In [43]:
book_authors

{'Moby Dick': 'Melville',
 'Harry Potter': 'JK Rowling',
 'Enders Game': 'Orsen Scott Card'}

In [46]:
my_travels.pop()

'India'

In [48]:
my_travels = {'India'}

In [51]:
my_travels.add('Ghana')

In [66]:
my_travels.update(['Jamaica','Bermuda'])

In [68]:
my_travels.pop()

'i'

In [70]:
my_travels[0]

TypeError: 'set' object is not subscriptable

In [71]:
house_categories = {'Single-Family Home', 'Condo', 'Duplex'}

In [72]:
len(house_categories)

3

In [73]:
len({3, 2, 9, 5, 3, 6, 2}) + len([3, 2, 9, 5, 3, 6, 2])

12

In [83]:
str_to_float = ['2.1', '2.3', '7,5', '$12.12', '8.9', '5%', '33.1']

floats = []
bad_characters = ',$%'
for number in str_to_float:
    corrupted = False
    for bad_character in bad_characters:  ##for the bad character
        if bad_character in number:
            corrupted = True
    if corrupted:                        ## if corrupted, then append None to floats
        floats.append(None)
    else:                                ## otherwise, then append the number
        floats.append(float(number))

print(floats)

[2.1, 2.3, None, None, 8.9, None, 33.1]

In [86]:
str_to_float = ['3.2','%5.5','5,5','10.7','11.9','G29']

floats = []
bad_numbers = '%,G'
for number in str_to_float:
    corrupted = False
    for bad_number in bad_numbers:
        if bad_number in number:
            corrupted = True
    if corrupted:
        floats.append(None)
    else:
        floats.append(float(number))
        
print(floats)

[3.2, None, None, 10.7, 11.9, None]

In [91]:
#################################
##### using TRY and EXCEPT ######
## a bit easier version of this code would be
str_to_float = ['3.2','%5.5','5,5','10.7','11.9','G29']
floats = []
for number in str_to_float:
    try:
        floats.append(float(number))
    except:
        floats.append(None)

print(floats)

[3.2, None, None, 10.7, 11.9, None]

In [130]:
############################
#### the "Raise" alarm ####

# raise can be used to alert a user of a specific error type

def no_four(number):   #the function is called no_four, number is your keyword argument
    if number == 4:    # this is the argument now
        raise ValueError('No fours allowed')  #always use raise ValueError
    else:
        print('Number:', number)
        
no_four(10)

Number: 10

In [153]:
sets = [1,3,5,7,9]          #here you can define a set
def good_numbers(number):
    if number in sets:      #then assign keywork argument to that set
        print('This number:', number, 'is a good/odd one')
    else:
        raise ValueError('This number is no good:', number)

good_numbers(3)

This number: 3 is a good/odd one

In [156]:
def positive_only(a,b):
    output = a + b
    if output > 0:
        print('Yep, this', output, 'is positive')
    else:
        raise ValueError('This isnt positive:', output)

positive_only(4,-5)

ValueError: ('This isnt positive:', -1)

In [163]:
#######################
### basic functions ###
#######################

def my_function(arg1):   #function's name is my_function, argument is assigned
    var2 = arg1 + 2      #argument undergoes computation, assigned to variable to call
    return var2          #then call that variable (total) using return

my_function(1.3)

3.3

In [166]:
## you can assign the function to variable to use it later

def my_function(var1):
    total = var1 + 3
    return total
gabe_code = my_function(3)

print(gabe_code)             # now gabe_code always 6

6

In [167]:
print(my_function(2))        # the my_function will always perform the operation

5

In [170]:
### a function can take 2 arguments, or more!

def my_printer(color, shape):
    return color + " " + shape

my_printer("pink",'elephant')

'pink elephant'

In [171]:
def two_numbers(arg1,arg2):
    value = arg1 + arg2
    return value

two_numbers(10,4)

14

In [177]:
def calculations(val1, operation, val2):
    if operation == "+": return val1 + val2
    if operation == "*": return val1 * val2
    if operation == "-": return val1 - val2
    if operation == "/": return val1/val2

calculations(2,"*",2)

4

In [180]:
def compound(word1,word2):
    return word1+word2
compound("book","shelf")

'bookshelf'

In [190]:
#####################################
### adding two functions together ###
#####################################

def add_numbers(number1,number2,number3):
    return number1 + number2 + number3

def get_average(number1,number2,number3):
    sum_of_numbers = add_numbers(number1,number2,number3)
    average = sum_of_numbers/3
    return average

get_average(1,2,3)

2.0

In [191]:
#########################
## working with functions ##
###########################

def some_func(str_arg):
    lowercase_str = str_arg.lower()
    final_str = lowercase_str + " is the lowercase version of the input string"
    return final_str

some_func('Howdy THERE amigosss')

'howdy there amigosss is the lowercase version of the input string'

In [207]:
def square(number):
    total = number**2
    return total

square(3)

9

In [213]:
def is_jacket_required(temps):
    if temps > 65:
        return False
    else:
        return True

is_jacket_required(99)

False