In [1]:
list = [13, 18, 13, 14, 13, 16, 14, 21, 13]

In [4]:
import numpy as np

In [5]:
np.mean(list)

15.0

In [6]:
list1 = [13, 13, 13, 13, 14, 14, 16, 18, 21]

In [7]:
np.median(list1)

14.0

In [8]:
list2 = [13, 18, 13, 14, 13, 16, 14, 21, 13]

In [11]:
from scipy import stats

In [12]:
stats.mode(list2)

ModeResult(mode=array([13]), count=array([4]))

In [14]:
np.mean([3,4,5])

4.0

In [18]:
list = [11, 12, 13, 13, 14, 14, 14, 15, 15, 16, 17]

In [19]:
np.max(list)

17

In [21]:
def min_max(agg):
    for aggs in agg:
        return min(list),max(list)

min_max(list)

(11, 17)

In [22]:
np.mean(list)

14.0

In [23]:
np.std(list)

1.651445647689541

In [27]:
def outlier(outs):
    for out in outs:
        return np.mean(list) - 3*np.std(list),np.mean(list) + 3*np.std(list)

outlier(list)

(9.045663056931378, 18.954336943068622)

In [51]:
set_1 = { 3, 6, 3,2, 5,4,10, 12, 35}
set_2 = { 4, 3,6 ,2,7 ,45, 23, 12, 10}

def function(func1,func2):
    for funcs in func1,func2:
        print("The interesection is: ", set_1.intersection(set_2)) 
        print("The union is: ", set_1.union(set_2))
         
function(set_1,set_2)

The interesection is:  {2, 3, 4, 6, 10, 12}
The union is:  {2, 3, 4, 5, 6, 35, 7, 10, 12, 45, 23}
The interesection is:  {2, 3, 4, 6, 10, 12}
The union is:  {2, 3, 4, 5, 6, 35, 7, 10, 12, 45, 23}

In [52]:
2/35

0.05714285714285714

In [53]:
#######################################
## performing normalizing to vectors ##
#######################################

from sklearn.preprocessing import normalize

data = [[34,175,72],[22,136,50]]

In [54]:
normalize(data,axis=0)
# here, youve achieved normalization bound b/w 0 and 1 unit-norm length

array([[0.83957016, 0.78959511, 0.82136997],
       [0.54325128, 0.6136282 , 0.57039581]])

In [55]:
list1 = [3,4]

In [58]:
## vector addition

data = np.array([
[34, 175, 72],
[22, 136, 50]
])

tens = np.array([
[10, 10, 10],
[10, 10, 10]
])

In [59]:
np.add(data,tens) #vector addition complete

array([[ 44, 185,  82],
       [ 32, 146,  60]])

In [60]:
x = np.array([1,2,3])
y = np.array([4,5,6])
np.dot(x,y)

32