In [1]:
string = "Hello there Gabe! I just wanted to know what's up? Alright, see ya at 8:30pm tonight."

In [4]:
import re
regex = re.sub('[^0-9a-zA-Z -]','',string)
regex

'Hello there Gabe I just wanted to know whats up Alright see ya at 830pm tonight'

In [16]:
regex_split = regex.split(' ')

In [18]:
list(enumerate(regex_split))

[(0, 'Hello'),
 (1, 'there'),
 (2, 'Gabe'),
 (3, 'I'),
 (4, 'just'),
 (5, 'wanted'),
 (6, 'to'),
 (7, 'know'),
 (8, 'whats'),
 (9, 'up'),
 (10, 'Alright'),
 (11, 'see'),
 (12, 'ya'),
 (13, 'at'),
 (14, '830pm'),
 (15, 'tonight')]

In [19]:
len(regex_split) #number of words

16

In [20]:
len(regex) #number of letters

79

In [44]:
import numpy as np
import pandas as pd
np.arange(3.03,3.87,14)

array([3.03])

In [55]:
pd.DataFrame(np.linspace(3.03,3.87,15)).iloc[::-1]

       0
14  3.87
13  3.81
12  3.75
11  3.69
10  3.63
9   3.57
8   3.51
7   3.45
6   3.39
5   3.33
4   3.27
3   3.21
2   3.15
1   3.09
0   3.03